* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0) !important;
    padding-left: calc(var(--bs-gutter-x) * 0) !important;
    
}
.haute-hijab {
    background-image: url(/images/20220821_135409\ 1.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
     background-position: top;
    background-size: cover;
}
.introduction {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 25vh !important;
}
.row .journey {
    font-family: 'Monument Extended', sans-serif;    
    word-spacing: 15px; 
}
.vision p {
    font-family: 'Poppins', sans-serif;
}
.shopbest .row .col-sm-4 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.shopbest .img-1 img {
    width: 250px; 
    height: 320px;
    object-fit: cover;
}
.shortstory .h5 , .shopcollection h3, .shopbest h3,.shopbest > p ,.vision header ,button span ,navbar, .needhelp , .confidence ,.question h3 , .footer h5 , .introduction p{
    font-family: 'Monument Extended', sans-serif;
}
.introduction p.h4 {
    font-family: 'Poppins', sans-serif;
}
.shortstory h6, .help h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.img-2.first img {
    /* align-self: flex-end; */
    float: right;
}
.img-2 img {
    width: 260px;
    height: 285px;
    object-fit: cover;
    margin: auto;
}
.shopcollection .img-1 img {
    width: 250px; 
    height: 320px;
    object-fit: cover;
}
.shopcollection {
    background-color: #fff7ef;
}
.img-3 img {
    width: 400px;
    height: 250px;
}
.confi {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
input.input {
    width: 100%;
    height: 60px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
.input1 {
    width: 100%;
    height: 170px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    resize: none;
}
.footer .row .col-sm-3 p {
     font-family: 'Poppins', sans-serif;
     font-weight: 300;
     line-height: 10px;
     font-size: 15px;
}
.footer .row .col-sm-3 p a {
     text-decoration: none;
     color: white;
}
.input2 {
    width: 80%;
    height: 50px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
.col-sm-4 .fa-brands {
    padding-left: 15px;
}
.col-sm-4 a .fa-brands  {
    color: white;
}
.country {
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}
.img-card img {
    width: 45px;
    height: 30px;
}
.underline {
    background-color: #ffffff;
    width: 100%;
    height:1px;
    margin-top: 45px;
    margin-bottom: px;
}.form-select {
    width: 60%;
}
@media screen and (max-width:920px) {
    .footer .footer-header div.col-sm-3 h5 {
        font-size: 15px ;
    }
    .footer .footer-header div.col-sm-3 p a {
        font-size: 12px ;
    }
    .footer .footer-header div.col-sm-3  p {
        font-size: 12px ;
    }
    .gmail  {
        text-decoration: underline !important;
    }
    @media screen and (max-width:576px) {
        .haute-hijab {
     background-image: url(/images/20220821_135409\ 1.png);
     height: 70vh;
     width: 100%;
     background-repeat: no-repeat;
     background-position: top;
     background-size: cover;
        }
        .story {
            display: block;
        }
     .introduction {
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      margin-top: 56vh !important;
      width: 100% !important;
      background-color: #FFF7EF;
        }
        .introduction h6 {
            display: none;
        }
        .introduction .display-6 {
            font-family: trajan-pro-3, serif;
            font-style: normal;
            font-weight: 200;
            font-size: 40px;
        }
        .introduction p {
            color: black;
        }
        .introduction .h4 {
            text-transform: lowercase;
            font-family: 'Poppins', sans-serif;
            padding-top: 20px;
        }
         .vision {
            margin-top:42vh;
        }
        .vision p{
            font-size: 12px;
        }
        .vision header {
            font-family: trajan-pro-3, serif;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
        }
        .row {
            width: 100%;
        }
        .vision .d-flex  {
            overflow: scroll;
        }
        .vision .d-flex .col-4 {
            width: 300px;
        }
        .button1 {
            background-color: black;
            margin-bottom: 10px;
        }
        .button1 span {
          color: white;
          font-size: 10px;
        }
        .buttons {
            margin-left: 15px;
        }
        .shopbest h3 {
            font-family: trajan-pro-3, serif;
            font-style: normal;
            font-weight: 400;
            font-size: 5vh;
            margin: auto;
            margin-left: 20px !important;
        }
        .shopbest .row {
            display: flex;
            justify-content: center;
            margin: auto;
        }
        .story-text {
            margin-right:auto ;
            /* width: 100%; */
        }
        .story-text .h5{
            font-family: trajan-pro-3, serif;
            font-style: normal;
            font-weight: 300;
            font-size:25px;
            padding-left: 10px;
        }
        .story-text h6{
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            padding-left: 10px;
        }
        .story button span {
            color: white;
            font-size: 15px;
            font-family: 'Poppins', sans-serif;
        }
        .img-2 img {
            width: 100%;
            object-fit: cover;
            padding-left: 15px;
            /* margin-left: 200px !important; */
        }


    }

}
